body{
    
    height:100%;
}


video{
    
position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

div{
    position:relative;
    
/*    border: 10px solid red;*/
    border-radius: 5px;
    z-index: 2;
    margin: 0 auto;
    max-width:720px;
    margin-top: 200px;
    background: 	#FFA07A;
    text-align: center;
    
}
h1{
    
    font-family: 'Spicy Rice', cursive;
    margin-bottom: 25px;
    font-size: 44px;
}

a{
    display: inline-block;
    border-radius: 5px;
    background-color: aqua;
    
    color: black;
    padding: 12px 48px;
    border: solid 4px grey;
    text-decoration: none;
    margin-bottom: 5px;
    

    
    

}

p{
    opacity: 0.7;
    background: black;
    border-radius: 5px;
    height:70px;
    color: wheat;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 12px;
    
    
    
    font-family: 'Rosario', sans-serif;
    font-size: 20px;
    
/*    font-size: 2px;*/
}